<% provide :title, "ページ個別タイトル" %>
<% provide :meta_description, "ページ個別デスクリプション" %>

<div class="container">
  <div class="row">
    <h1>Hello Rails5 Todo</h1>
  </div>
  <div class="row">
  </div>
</div>
