#header {
  position: fixed;
  top:0px;
  width:100%;
  min-height:50px;
  border-bottom: 1px solid;
}

#main {
  padding:50px 0 50px 0;
  height:100%;
}

#footer {
  text-align: center;
  border-top: 1px solid;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

